@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-blink {
    animation: blink 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.bg-square {
    background-image: repeating-linear-gradient(
        90deg,
        hsla(78, 0%, 63%, 0.05) 0,
        hsla(78, 0%, 63%, 0.05) 1px,
        transparent 1px,
        transparent 104px
    ),
    repeating-linear-gradient(
        0deg,
        hsla(78, 0%, 63%, 0.05) 0,
        hsla(78, 0%, 63%, 0.05) 1px,
        transparent 1px,
        transparent 104px
    ),
    repeating-linear-gradient(
        0deg,
        hsla(78, 0%, 63%, 0.08) 0,
        hsla(78, 0%, 63%, 0.08) 1px,
        transparent 1px,
        transparent 26px
    ),
    repeating-linear-gradient(
        90deg,
        hsla(78, 0%, 63%, 0.08) 0,
        hsla(78, 0%, 63%, 0.08) 1px,
        transparent 1px,
        transparent 26px
    ),
    linear-gradient(45deg, #fff, #fff);
}


/* custom css */
.main-nav{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid;
  border-color:#3d6cb9;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  background-color: #fafaf6;
}

.main-nav > h3 #ai, .footer-main >p #ai{
  color: #3d6cb9;
}

.main-nav > h3, .footer-main > p #su{
  color:#00b1ff;
  margin-top: 25px;
}

a button{
  color:white;
  background-color: #3d6cb9;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.nav-items{
  margin-top: 21px;
}
.nav-items > a{
  padding: 0px 10px;
  font-size: 18px;
  cursor: pointer;
}

/* MAIN DIV CONTAINER */

.main-div{
  width: 80%;
  margin: 160px auto;
  background-color: rgba(167, 244, 238, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.hero-text{
width: 25%;
margin: 30px auto;
}

.hero-text > h1{
font-size: 3.0rem;
  }

.hero-image > img{
  width: 70%;
  margin: 30px 40px;
}

.features-main{
  margin-top: 8%;
}
.features-div{
 margin: 5px auto;
 width: 70%;
 text-align: center;
}
.features-div > h2{
  font-size: 2.3rem;
}
.features-div > h5{
  font-size: 1.3rem;
  width: 57%;
 margin: -20px auto;
}

.section-div{
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  margin: 0 10px;
border:1px solid #3d6cb9;
width: 30%;
box-sizing: box;
margin-bottom: 10px;
border-radius: 10px;
cursor: pointer;
}
.card:hover{
  box-shadow: 0 0 3px 1.2px black;
}
.card > .card-title{
background-color: rgba(167, 244, 238, 0.5);
display: flex;
justify-content: center;
align-items: center;
}
.card > .card-body{
  font-size: 1.2rem;
  text-align: center;
}
.card > .card-footer{
  font-size: 1.0rem;
  text-align: center;
  padding: 5px;
}

.footer-main{
    background-color: #ecece1;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
  };

